@import url("https://fonts.google.com/specimen/Montserrat");
@import url("https://fonts.google.com/specimen/Fraunces");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: 100%;
  background-size: cover;
}
body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  padding: 70px 50px;
}
.card__component {
  display: flex;
  flex-direction: row;
  width: 47%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
}
.image__section {
  flex: 1;
}
.image__section > img {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.table_section {
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.p1 {
  font-family: Montserrat, sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.table_section > h1 {
  text-transform: capitalize;
  font-size: 45px;
  margin-bottom: 20px;
}
.table_section > .p2 {
  font-size: 23px;
  color: hsl(228, 12%, 48%);
  margin-bottom: 20px;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 30px;
  margin-bottom: 20px;
}
.price > h1 {
  font-size: 40px;
  color: hsl(158, 36%, 37%);
}
.price > p {
  font-size: 18px;
  text-decoration: line-through;
}
.add__to__cart {
  background-color: hsl(158, 36%, 37%);
  border: none;
  padding: 15px 5px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-family: Fraunces, sans-serif;
  font-weight: 500;
}
.add__to__cart:hover {
  background-color: hsl(158, 37%, 27%);
}
.add__to__cart > img {
  width: 5%;
  margin-right: 6px;
}

@media only screen and (max-width: 376px) {
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* width: 100vw; */
    /* height: 100vh; */
    background-color: hsl(30, 38%, 92%);
    padding: 20px 15px;
  }
  .card__component {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
  }
  .image__section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
  }

  .image__section > img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  .table_section > h1 {
    text-transform: capitalize;
    font-size: 35px;
    margin-bottom: 20px;
  }

  .table_section > .p2 {
    font-size: 18px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 20px;
    line-height: 1.5;
  }
}
